.sidenav-container {
    height: calc(100vh - 1px);  
    overflow: hidden;
}

.sidenav {
    width: 100%;
    overflow: hidden; /* Elimina el scroll vertical del sidenav */
}

.mat-nav-list {
    width: 100%;
    overflow: hidden; /* Elimina el scroll vertical del sidenav */
}

.mat-nav-list {
    width: 100% !important;
    padding: 0 !important;
}

.mat-list-item {
    width: 94%;
    display: flex;
}

.flex-spacer {
    height: calc(100vh - 300px);
    flex: 1 1 auto; /* Ocupa todo el espacio disponible */
}