<!-- components/sidenav/sidenav.component.html -->
<mat-sidenav-container color="primary" class="sidenav-container">
    <!-- Sidenav fija -->
    <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" position="start" class="sidenav">
        <!-- Lista de navegación -->
        <mat-nav-list class="mat-nav-list"> 
            <a mat-list-item class="mat-list-item" routerLink="/dashboard" routerLinkActive="active">
                <mat-icon matListItemIcon>update</mat-icon>
                <span matListItemTitle>Sincronizar Horarios</span>
            </a>

            <a mat-list-item  class="mat-list-item" routerLink="/users" routerLinkActive="active">
                <mat-icon matListItemIcon>movie</mat-icon>
                <span matListItemTitle>Sincronizar Películas</span>
            </a>

            <a mat-list-item class="mat-list-item" routerLink="/products" routerLinkActive="active">
                <mat-icon matListItemIcon>settings</mat-icon>
                <span matListItemTitle>Configuración Global</span>
            </a>

            <div class="flex-spacer"></div>
            <a mat-list-item class="mat-list-item" (click)="toggleSidebar()">
                <mat-icon matListItemIcon>keyboard_double_arrow_left</mat-icon>
                <span matListItemTitle>Cerrar</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content class="main-content">
        <!-- Contenido de la página -->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>